*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
  }
#main{
    width: 300px;
    height: 252px;
    background-color: #000;
    position: relative;
    border: 1px solid #000;
    margin: 50px auto;
    overflow: hidden;
}
#pic1{
    width: 300px;
    height: 260px;
    position: absolute;
    z-index: 10;
}
#pic2{
    width: 300px;
    height: 260px;
    position: absolute;
}
#text1{
    background-color: rgba(22, 98, 157, 0.5);
    background-image: url('./image/t1.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 48px;
    position: absolute;
    z-index: 11;
    left: 0px;
    top: 175px;
}
#text2{
    background-color: rgba(22, 98, 157,0.5);
    background-image: url('./image/t2.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 300px; 
    height: 48px;
    position: absolute;
    z-index: 80;
    left: 0px;
    top: 175px;
}
#text3{
    width: 204px;
    height: 96px;
    position: absolute;
    z-index: 80;
    left: 48px;
    top: 68px;
}
#logo{
    background-image: url('./image/logo.png');
    width: 61px;
    height: 68px;
    position: absolute;
    z-index: 1600;
    left: 16px;
    top: 0px;
}
#footer{
      width: 300px;
    height: 65px;
    position: absolute;
    z-index: 1600;
     bottom: 0px;
}
